[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
joblib = "*"
flask = "*"
seqlog = "*"
urllib3 = ">=1.26.4"

[dev-packages]

[requires]
python_version = "3.8"
