.itemContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;

  margin: 10px;

  cursor: pointer;
}

.itemContent {
  display: flex;
  justify-content: center;
}

.itemContentWithMargin {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.itemImage {
  width: 80px;
  height: 80px;
  margin: auto;
}
