/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vh;
  background: linear-gradient(200.96deg, #f5f7fa -29.09%, #c3cfe2 129.35%);
  font-family: sans-serif;
  margin: auto;
  overflow-y: hidden;
  padding: 5%;
}
